{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

{% include 'components/alert.html' %}
<div class="row">
    <div class="col-lg-10 col-sm-9 col-9">
        <h3>Change Password</h3><br>
    </div>
    
</div>
<br>
<div class="row">

    <div class="col-xl-3 col-md-4 pe-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="icon">
                    <h1><span class="fas fa-user-tie"></span></h1>
                </div><br><br>

                <div class="detail text-center">
                    {% for user in user_details %}
                    <b>{{user.displayName}}</b><br>
                    {% endfor %}
                </div><br>

                <div class="links">
                    <a href="{% url 'my-account' %}">Account Settings</a><br>
                    <a>Change Password</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-9 col-md-8 pe-3">
        <div class="card">
            <form method="post" onsubmit="return validateForm();">
                {% csrf_token %}

                <div class="card-body p-3">
                    <h4>Account Settings</h4><br>
                    <div class="row">
                        <div class="col-lg-6 pe-2">
                            <label for="Username">Username</label><br>
                            {% for user in user_details %}
                            <input type="text" name="username" disabled v-model="data.username" class="form-control p-2"
                                value="{{user.username}}">
                            {% endfor %}
                        </div>
                        <div class="col-lg-6">
                            <label for="oldpassword">Old Password</label><br>
                            <input type="password" name="oldpassword" id="oldpassword" class="form-control p-2"
                                v-model="data.oldpassword">
                            <span class="error" id="err-oldpassword"></span>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-lg-6 pe-2">
                            <label for="newpassword">New Pasword</label><br>
                            <input type="password" name="newpassword" id="newpassword" class="form-control p-2"
                                v-model="data.newpassword">
                            <span class="error" id="err-newpassword"></span>
                        </div>
                        <div class="col-lg-6 pe-2">
                            <label for="confirm">Confirm Password</label><br>
                            <input type="password" name="confirm" id="confirm" class="form-control p-2"
                                v-model="data.confirm">
                            <span class="error" id="err-confirm"></span>
                        </div>
                    </div><br>

                    <div class="row">
                        <div class="col-lg-6 pr-2">
                            <button class="btn btn-secondary px-5 py-2">Change Password</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<br>

<script type="text/javascript">
    let nav = 1;
    function toggleNav() {
        if (nav) {
            document.getElementById("sidebar").classList.remove("d-none");
            document.getElementById("sidebar").classList.remove("d-xl-block");
            nav = 0;
        } else {
            document.getElementById("sidebar").classList.add("d-none");
            document.getElementById("sidebar").classList.add("d-xl-block");
            nav = 1;
        }
    }

    function validateNew() {
        var regexp = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
        var input = document.getElementById("newpassword");
        var error = document.getElementById("err-newpassword");

        if (regexp.test(input.value)) {
            input.style.border = "1px solid green";
            error.style.display = "none ";
            return true;
        } else {
            input.style.border = "1px solid red";
            error.innerHTML = "Your Password must be 8 characters including a uppercase letter,lowercase letter, numbers & special characters!"
         
            error.style.display = "block ";
            return false;
        }
    }
    function validateConfirm() {
        var pass1 = document.getElementById('newpassword');
        var pass2 = document.getElementById('confirm');
        var error = document.getElementById('err-confirm');

        if (pass1.value === pass2.value) {
            pass2.style.border = "1px solid green";
            error.style.display = "None";
            return true;
        } else {
            pass2.style.border = "1px solid red";
            error.innerHTML = "Password does not match!"
            error.style.display = "block";
            return false;
        }
    }

    function validateForm() {
        if (validateNew() && validateConfirm()) {
            return true;
        } else {
            return false;
        }
    }
</script>

{% endblock %}